@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=IBM+Plex+Sans+Condensed:wght@100&display=swap%22");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hubballi", cursive;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    -45deg,
    rebeccapurple,
    rgb(207, 145, 155),
    rgb(11, 212, 212)
  );
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 400% 400%;
  animation: color 15s ease-in-out infinite forwards;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 500px;
  background-color: transparent;
}

#form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

label{
  font-size: 3rem;
}

input{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
}
.box{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 40px;
}

button{
  float: right;
  font-size: 1.2rem;
  width: 100%;
  border: none;
  height: 45px;
  border-radius: 5px;
  box-shadow: inset 0px 10px 20px 0px rgba(0, 0, 0, .2);
  cursor: pointer;
}

::placeholder{
  color: #fff;
  opacity: .5;
}